

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Satış Formu</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    @using (Html.BeginForm("AddSale", "AdminSale", FormMethod.Post, new { @enctype = "multipart/form-data", id = "sale-form" }))
                    {
                        <div class="col-lg-12">
                            <div class="form-group" style="display:grid;">
                                <h4 id="payment-title">Ödeme Şekli :</h4>
                                <select class="form-control float-right" name="PaymentType" id="payment-type" required="required">
                                    <option value="Nakit">Nakit</option>
                                    <option value="Kredi Kartı">Kredi Kartı</option>
                                    <option value="Vadeli">Vadeli</option>
                                </select>
                            </div>

                            <div class="form-group expiry-date" style="display:grid;display:none;">
                                <h4 id="payment-title">Vade Tarihi :</h4>
                                <input type="date" name="ExpiryDate" class="form-control" />
                            </div>

                            <div class="form-group expiry-date" style="display:grid;display:none">
                                <h4 id="payment-title">Teslim Alınan Bakiye :</h4>
                                <input type="text" name="PaidExpiryValue" class="form-control" />
                            </div>

                            <div class="form-group" style="display:grid;">
                                <h4 id="payment-title">Fatura :</h4>
                                <select class="form-control float-right" name="Invoice" required="required">
                                    <option value="0">Yok</option>
                                    <option value="1">Var</option>
                                </select>
                            </div>

                            <div class="form-group display-input display-input-customer" style="display:grid;display:none">
                                <h4 id="payment-title">Müşteri :</h4>
                                @Html.DropDownList("CustomerID", (IList<SelectListItem>)ViewData["customer"], "Müşteri Seçiniz", new { @class = "form-control" })
                            </div>

                            <div class="form-group display-input optional" style="display:grid;display:none">
                                <h4 id="payment-title">Satış Fiyatı Yazıyla :</h4>
                                <input type="text" name="PriceString" class="form-control" />
                            </div>
                            <div class="form-group display-input optional" style="display:grid;display:none">
                                <h4 id="payment-title">Fatura Tarih ve Saati :</h4>
                                <input type="datetime-local" name="InvoiceDate" class="form-control" />
                            </div>
                            <button class="btn btn-success float-right" type="button" id="sale-button">Satışı Bitir</button>
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
