


@using (Html.BeginForm("AddServiceSale", "AdminSale", FormMethod.Post, new { id = "service-sale-form" }))
{
    <div class="form-group">
        <label>Müşteri :</label>
        <input type="text" name="CustomerName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Personel :</label>
        @Html.DropDownList("EmployeeID", (IEnumerable<SelectListItem>)ViewData["employee"], new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Ürün Marka-Modeli :</label>
        <input type="text" name="ProductModel" class="form-control" />
    </div>
    <div class="form-group">
        <label>IMEI :</label>
        <input type="text" name="IMEINumber" class="form-control" />
    </div>
    <div class="form-group">
        <label>Ödeme Şekli :</label>
        <select class="form-control" name="PaymentType">
            <option>Nakit</option>
            <option>Kredi Kartı</option>
        </select>
    </div>
    <div class="form-group">
        <label>Tutar :</label>
        <input type="text" name="Price" id="service-sale-price" class="form-control" />
    </div>
    <div class="form-group">
        <label>Not :</label>
        <textarea class="form-control" name="Note" rows="5"></textarea>
    </div>

    <input type="button" class="btn btn-success" id="service-sale-button" value="Bitir" />
}
