<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Han Teknoloji</title>
    <!-- Bootstrap Core CSS -->
    <link href="/Areas/Admin/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/Areas/Admin/Content/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Areas/Admin/Content/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/Areas/Admin/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Areas/Admin/Content/sweetalert.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/custom/validation.css" rel="stylesheet" />
    @RenderSection("css", false)
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Han Teknoloji</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="/Admin/AdminLogin/SignOut"><i class="fa fa-sign-out fa-fw"></i> Çıkış Yap</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-user"></i> Kullanıcı İşlemleri<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/AdminUser/Index"><i class="fa fa-list fa-fw"></i> Kullanıcı Listesi</a>
                                </li>
                                <li>
                                    <a href="/Admin/AdminUser/Add"><i class="fa fa-plus-circle fa-fw"></i> Kullanıcı Ekleme</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-phone"></i> Ürün İşlemleri<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/AdminProduct/Index"><i class="fa fa-list fa-fw"></i> Ürün Listesi</a>
                                </li>
                                <li>
                                    <a href="/Admin/AdminProduct/Add"><i class="fa fa-plus-circle fa-fw"></i> Ürün Ekleme</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-tags"></i> Kategori İşlemleri<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/AdminCategory/Index"><i class="fa fa-list fa-fw"></i> Kategori Listesi</a>
                                </li>
                                <li>
                                    <a href="/Admin/AdminCategory/Add"><i class="fa fa-plus-circle fa-fw"></i> Kategori Ekleme</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-apple fa-fw"></i> Marka İşlemleri<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/AdminTradeMark/Index"><i class="fa fa-list fa-fw"></i> Marka Listesi</a>
                                </li>
                                <li>
                                    <a href="/Admin/AdminTradeMark/Add"><i class="fa fa-plus-circle fa-fw"></i> Marka Ekleme</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-android fa-fw"></i> Model İşlemleri<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/AdminProductModel/Index"><i class="fa fa-list fa-fw"></i> Model Listesi</a>
                                </li>
                                <li>
                                    <a href="/Admin/AdminProductModel/Add"><i class="fa fa-plus-circle fa-fw"></i> Model Ekleme</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-pencil"></i> Ürün Rengi İşlemleri<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/AdminColor/Index"><i class="fa fa-list fa-fw"></i> Renk Listesi</a>
                                </li>
                                <li>
                                    <a href="/Admin/AdminColor/Add"><i class="fa fa-plus-circle fa-fw"></i> Renk Ekleme</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-truck fa-fw"></i> Tedarikçi İşlemleri<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/AdminSupplier/Index"><i class="fa fa-list fa-fw"></i> Tedarikçi Listesi</a>
                                </li>
                                <li>
                                    <a href="/Admin/AdminSupplier/Add"><i class="fa fa-plus-circle fa-fw"></i> Tedarikçi Ekleme</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-briefcase"></i> Müşteri İşlemleri<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/AdminCustomer/Index"><i class="fa fa-list fa-fw"></i> Müşteri Listesi</a>
                                </li>
                                <li>
                                    <a href="/Admin/AdminCustomer/Add"><i class="fa fa-plus-circle fa-fw"></i> Müşteri Ekleme</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-calendar fa-fw"></i> Raporlar<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/AdminReport/ProductSale">Ürün Satış</a>
                                </li>
                                <li>
                                    <a href="/Admin/AdminReport/InvoiceProductSale">Faturalı Ürün Satış</a>
                                </li>
                                <li>
                                    <a href="/Admin/AdminReport/Service">Servis/Yardım</a>
                                </li>
                                <li>
                                    <a href="/Admin/AdminReport/CustomerReport">Müşteri Kartı</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-refresh fa-fw"></i> Vade Yönetimi<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/AdminExpiry/Customer">Müşteri</a>
                                </li>
                                <li>
                                    <a href="/Admin/AdminExpiry/Supplier">Tedarikçi</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="/Admin/AdminSale/Index"><i class="fa fa-turkish-lira fa-fw"></i> Satış İşlemleri</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/Areas/Admin/Content/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Areas/Admin/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Areas/Admin/Content/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/Areas/Admin/Content/dist/js/sb-admin-2.js"></script>
    <script src="~/Areas/Admin/Scripts/sweetalert.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
