
@model List<SupplierExpiryVM>

<div class="form-group">
    <label>Tedarikçi :</label>
    <input list="suppliers" name="name" class="form-control" id="input-val">
    <datalist id="suppliers">
        @foreach (var item in Model)
        {
            <option value="#@item.SupplierID @item.Name @item.Phone"></option>
        }
    </datalist>
</div>
<button class="btn btn-success" type="submit">Bul</button>
