
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@using PagedList;
@using PagedList.Mvc;
@using GridMvc.Html;

@model IPagedList<ProductVM>
@section css{
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/gridmvc.js"></script>
    <script src="~/Areas/Admin/Scripts/product-list.js"></script>
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Ürün Listesi</h3>
    </div>
</div>

<div class="col-lg-4" style="margin-bottom: 40px; padding-left: 0px;">
    <form method="post" id="form">
        @Html.DropDownList("id", (IEnumerable<SelectListItem>)ViewData["category"], "Kategori Seçiniz", new { @class = "form-control" })
    </form>
</div>
<div class="col-lg-8">
    <form method="post" style="float:right;margin-bottom:15px;">
        <label>Arama :</label>
        <input name="searchString" type="text" style="border-radius:4px;" />
        <button class="btn btn-success" type="submit">Ara</button>
    </form>
</div>

<div class="row">
    <div class="col-lg-12">
        @Html.Partial("/Areas/Admin/Views/Shared/Partial/MessagesPart.cshtml")
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    @Html.Grid(Model).Named("Product").Columns(col =>
               {
                   col.Add(x => x.SerialNumber).Titled("Seri Numarası");
                   col.Add(x => x.TradeMark).Titled("Marka");
                   col.Add(x => x.ProductModel).Titled("Model");
                   col.Add(x => x.Count).Titled("Adet");
                   col.Add(x => x.UnitPrice).Titled("Alış Fiyatı (TL)");
                   col.Add(x => x.UnitSalePrice).Titled("Satış Fiyatı (TL)");
                   col.Add(x => x.Payment).Titled("Ödeme Şekli");
                   col.Add(x => x.Supplier).Titled("Tedarikçi");
                   col.Add().Encoded(false).Sanitized(false).RenderValueAs(html =>
                   {
                       string htmlelement = "<a href='/Admin/AdminProduct/Edit/" + html.ID.ToString() + "' class='fa fa-pencil'></a>";
                       return MvcHtmlString.Create(htmlelement);

                   }).Titled("Düzelt");
                   col.Add().Encoded(false).Sanitized(false).RenderValueAs(html =>
                   {
                       string htmlelement = "<a class='btn btn-danger btn-circle' href='/Admin/AdminProduct/Delete/" + html.ID.ToString() + "'><i class='fa fa-remove'></i></a>";
                       return MvcHtmlString.Create(htmlelement);

                   }).Titled("Sil");
               }).Filterable(true).Sortable(true)
                </div>
            </div>
        </div>
    </div>
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", "AdminProduct", new { page = page, id = ViewBag.Statuid }))