
.musteri-adres {
    position: absolute;
    top: 255px;
    width: 190px;
    left: 2cm;
}

.tax-office {
    position: absolute;
    top: 385px;
    left: 2cm;
}

.tax-number {
    position: absolute;
    top: 385px;
    left: 6.8cm;
}

.product-list {
    position: absolute;
    top: 435px;
    left: 3.5cm;
}

.product-row {
    display: flex;
}

.product-price {
    left: 550px;
    position: absolute;
}

.product-unit-price {
    position: absolute;
    left: 465px;
}

.product-count {
    position: relative;
    left: 260px;
}

li p {
    margin: 10px 0;
}

.date {
    position: absolute;
    left: 18cm;
    top: 330px;
}

.hour {
    position: absolute;
    top: 360px;
    left: 18cm;
}

.date2 {
    position: absolute;
    left: 18cm;
    top: 390px;
}

.total-unit-price{
    position:absolute;
    left:18cm;
    top:887px;
}

.total-sale-price{
    position:absolute;
    left:18cm;
    top:925px;
}
