
.musteri-adres {
    position: absolute;
    top: 6.6cm;
    width: 190px;
    left: 2.5cm;
}

.tax-office {
    position: absolute;
    top: 9.2cm;
    left: 2cm;
}

.tax-number {
    position: absolute;
    top: 9.6cm;
    left: 6.8cm;
}

.product-list {
    position: absolute;
    top: 10.8cm;
    left: 3.5cm;
}

.kdv-list {
    position: absolute;
    left: 12.5cm;
    top: 22.2cm;
    margin: 0;
}

.kdv-price {
    position: absolute;
    left: 210px;
}

.kdv-row {
    display: flex;
}

    .kdv-row p {
        margin: 5px 0;
    }

.product-row {
    display: flex;
}

.product-price {
    left: 550px;
    position: absolute;
}

.product-unit-price {
    position: absolute;
    left: 465px;
}

.product-count {
    position: absolute;
    left: 395px;
}

.product-row p {
    margin: 7px 0;
}

.date {
    position: absolute;
    left: 18cm;
    top: 8.1cm;
}

.hour {
    position: absolute;
    top: 8.9cm;
    left: 18cm;
}

.date2 {
    position: absolute;
    left: 18cm;
    top: 9.7cm;
}

.total-unit-price {
    position: absolute;
    left: 18cm;
    top: 845px;
}

.total-sale-price {
    position: absolute;
    left: 18cm;
    top: 925px;
}

.price-string {
    position: absolute;
    top: 25.3cm;
    left: 5cm;
}

.print {
    font-size: 25px;
    height: 50px;
    position: absolute;
    top: 1161px;
    left: 5cm;
}

.back {
    font-size: 25px;
    height: 50px;
    position: absolute;
    top: 1161px;
    left: 9cm;
}
