

@model CategoryVM

<div class="col-lg-12">
    <div class="form-group">
        @Html.LabelFor(x => x.CategoryName)<span style="color:red"> *</span>
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(x => x.CategoryName)
    </div>
    <input type="submit" class="btn btn-success" value="Kayıt" />
</div>
