
@{
    ViewBag.Title = "EditServiceSale";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Servis İşlemleri</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        @Html.Partial("/Areas/Admin/Views/Shared/Partial/MessagesPart.cshtml")
        <div class="panel panel-default">
            <div class="panel-heading">
                Düzenleme Formu
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("EditServiceSale", "AdminReport", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                        {
                            @Html.Partial("Partial/_editServiceSale")
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

