
<div id="collect-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Han Teknoloji Yönetim Paneli</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        1 Hafta İçinde Beklenen Tahsilatlar
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Müşteri</th>
                                        <th>Toplam Borç Miktarı</th>
                                        <th>Ödenen Borç Miktarı</th>
                                        <th>Kalan Borç Miktarı</th>
                                    </tr>
                                </thead>
                                <tbody id="collect-content"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>



