
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>
<input type="text" id="barkod" />

@section scripts{
    <script>
        $("#barkod").change(function () {
            var barcodeNumber = this.value;
        })
    </script>
}

